// .search-area {
//   padding-top: 50px;
// }

.image-container {
  display: flex;
  justify-content: center;
}

// .results-block {
//   display: inline-block;
// }

table {
  th {
    min-width: 100px;
  }
}
